html, body {
      width: 100%;
      height: 100%;
    }
/*title doggo adoption*/
.jumbotron{
    text-align:center;
}

/*centering image of happy-dog*/
#happy-dog{
text-align:center;    

}
  @media(min-width:768px){
      h1{
        font-size:60px
      }
      h2{
          font-size:40px;
      }
    }
    /*md+*/
    @media(min-width:992px){
        h1{
        font-size:80px
      }
      h2{
          font-size:60px;
      }
    }
    
    /*lg*/
    @media(min-width:1200px){
        h1{
        font-size:100px
      }
      h2{
           font-size:120px
      }
    }