html, body {
      width: 100%;
      height: 100%;
    }
/*title doggo adoption*/
.jumbotron{
    text-align:center;
}

/*centering image of happy-dog*/
#happy-dog{
text-align:center;    

}
h2{
    font-family: 'Lora', serif;

}

h1{
  text-align:center;    
}

#care{
    height:100%;
    width:90%;
  color:white;
 text-align:center;
 margin-left:90px;
 background: lightpink;


}


p{
 font-size:15px; 
  font-family: 'Lora', serif;
}


#places{
    text-align:center;
     height:100%;
    width:90%;
   background: tan; 
   margin-left:90px;
    
}


#adoption{
    height:40%;
    width:90%;
    text-align:center;
    margin-left:90px;
   background: SlateGrey; 
   color:white;
}
/*sm*/
  @media(min-width:768px){
      h1{
        font-size:60px
      }
      h2{
          font-size:20px;
      }
    }
    /*md+*/
    @media(min-width:992px){
        h1{
        font-size:80px
      }
      h2{
          font-size:30px;
      }
    }
    
    /*lg*/
    @media(min-width:1200px){
        h1{
        font-size:100px
      }
      h2{
           font-size:50px
      }
    }